@{
    ViewData["Title"] = "Agendado";
}

<div class="container">
    <h4>Seu agendamento foi enviado com sucesso!</h4>
    <form method="post">
        <button class="btn btn-secondary" asp-action="Index">Voltar</button>
    </form>

</div>
