@{
    ViewData["Title"] = "Serviços";
}

<style>

</style>

<div class="container text-center">
    <div>
        <h2 class="mb-3">Serviços disponíveis</h2>
    </div>
    <div class="w-50 mx-auto" id="div-lista-servicos">
        <ol class="list-group list-group-numbered">
            <li class="list-group-item">
                <p>Servico</p>
                <p>preço: R$00,00</p>
            </li>
            <li class="list-group-item">
                <p>Servico</p>
                <p>preço: R$00,00</p>
            </li>
            <li class="list-group-item">
                <p>Servico</p>
                <p>preço: R$00,00</p>
            </li>
            <li class="list-group-item">
                <p>Servico</p>
                <p>preço: R$00,00</p>
            </li>
            <li class="list-group-item">
                <p>Servico</p>
                <p>preço: R$00,00</p>
            </li>
            
        </ol>
    </div>
</div>


@if (TempData["Error"] != null)
{
    <script>
        alert("@TempData["Error"]");
    </script>
}